/* src/assets/styles/global.css */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');

/* Set a background color for the whole app to see changes easily */
body {
  min-height: 100vh;
  color: #313131;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  /* Animated dot background */
  background-color: #fff;
  background-image: radial-gradient(#FFA18D 3px, transparent 1px);
  background-size: 60px 60px;
  background-position-y: 1px;
}

label {
  color: #999999
}


/* Style for all anchor tags */
a {
  text-decoration: none; /* Remove underline */
  background: linear-gradient(#56bdb6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.8; /* Slightly fade the gradient on hover */
}


.logo {
  /* Mobile-first: 100% width on small screens */
  width: 100%;
  max-width: 350px; /* Prevent it from being too large on mobile */
  height: auto;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.4));
  transition: width 0.3s ease-in-out;
}

/* Tablet and Desktop: 50% width */
@media (min-width: 768px) {
  .logo {
    width: 100%;
    max-width: 700px;
  }
}

.dark-text {
  color: #313131;
}

.tag {
  background: rgba(29, 178, 234, 0.85);
  color: #fff;
  padding: 5px;
  border-radius: 10px 10px 10px 0 ;
  width: 75%;
}

.btn-primary {
  background: #56bdb6; /* Solid color from the original gradient */
  color: #fff;
  transition: background-color 0.3s ease;
  border: none;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #4aa8a2; /* A slightly darker shade for hover */
  color: #fff;
  box-shadow: none;
}

.alert-danger {
  background: #ff4a5f; /* Solid color from the original gradient */
  border: none;
  color: #fff;
}

.glass-card {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border: 5px solid #FFA18D;
  margin-bottom: 0;
  border-radius: 0 30px 0 30px; /* top-left, top-right, bottom-right, bottom-left */
}

.assymetric-border{
  border-radius: 0 30px 0 30px; /* top-left, top-right, bottom-right, bottom-left */
}

/* Reduce font size for floating form inputs */
.form-floating > .form-control {
  font-size: 1rem;
}
